 
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;

}

/* Navigation Window */
.header_area {
    background-color: whitesmoke;
    width: 100%; 
    padding: 10px 30px; 
    border-bottom: 1px solid #909090ad; 
    position: fixed;
    margin-top: -5rem;
}

.header_container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 17px 0px;
}

.primary_menu {
    list-style: none;
    display: flex;
    padding: 17px 0px;
    gap: 1rem;
}

.primary_menu a {
    font-size: 24px;
    color: hsl(233, 26%, 24%);
    text-decoration: none;
    position: relative;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 10px;
    transition: all 0.3s;
}

.primary_menu a:hover,
.primary_menu:active {
    color: hsl(136, 65%, 51%);
}

.mobile_nav {
    display: none;
    outline: none;
    background: transparent;
    padding: 17px 0px;
}

#mobile_nav_icon {
    color: hsl(233, 26%, 24%);
    width: 2rem;
    height: 2rem;
    font-size: 20px;
}

.request_btn {
    font: 25px;
    margin: 10px 0px;
}
.request_btn button{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    /* background-color: hsl(136, 65%, 51%); */
    background-image: linear-gradient(-10deg, hsl(233, 8%, 62%) 0%, hsl(136, 65%, 51%) 130%);
}

.Description_Container{
    display: flex;
    flex-direction: row;
    flex: 1 2;
    margin: 5rem 2rem 2rem;
    gap: 2rem;
    
}
.container h1{
    padding: 1rem 2rem;
    line-height: 1.5;
}
.container p{
    font-size: 25px;
    padding: 2rem;
    line-height: 1.5;
}
.container button{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 2rem;
    padding: 15px;
    border-radius: 20px;
    background-image: linear-gradient(-10deg, hsl(233, 8%, 62%) 0%, hsl(136, 65%, 51%) 130%);
}
 .image_Container img{
    width: 500px;
    height: 550px;
    padding-right: 1rem;
}  

.main_description{
    margin: 2rem;
    background-color: hsl(0, 0%, 98%);
}
.Container_1{
    text-align:center;
    padding: 0rem 2rem;
}
.Container_1 h1{
    padding: 2rem;
    color:hsl(233, 26%, 24%);
    font-size: 2.5rem;
}
.Container_1 p{
    color:hsl(233, 26%, 24%);
    line-height: 1.5;
    font-size: 20px;
}
.sub_description{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    padding: 2rem;
}
.sub_descriptionCont{
    padding: 1rem;
    text-align: center;
}
.sub_descriptionCont button{
    background-color: transparent;
    border-radius: 40%;
    border-color: lightslategrey;
    
}
.sub_descriptionCont .fa{
    font-size: 3rem;
    margin-bottom: 1rem;
    padding:2rem;
    color: hsl(136, 65%, 51%);
}
.sub_descriptionCont h2{
    margin: 10px;
    font-size: 25px;
    color:hsl(136, 65%, 51%);
}
.sub_descriptionCont p{
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
} 
.Articles h1{
    text-align: center;
    margin-bottom: 1rem;
    color: hsl(233, 26%, 24%);
    font-size: 40px;
}
.Container_2{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2rem;
    padding: 1rem 2rem;
}
.Container_Content img{
    height: 200px;
    width: 250px;
    margin-bottom: 1rem;
}
.Container_Content h6{
    font-size: 20px;
    color: gray;
    margin-bottom: 1rem;
}
.Container_Content p{
    margin: 2rem 0rem;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
} 
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    font-size: 20px;
    padding: 2rem;
    background: hsl(233, 26%, 24%);
    height: 20rem;
}
.socialmedia{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.FooterList ul li{
    list-style: none;
    margin-bottom: 1.5rem;
}
.FooterList a{
    text-decoration: none;
    color: azure;
}
.FooterBtn{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 2rem;
    padding: 15px;
    border-radius: 20px;
    width: 300px;
    background-image: linear-gradient(-10deg, hsl(233, 8%, 62%) 0%, hsl(136, 65%, 51%) 130%);
}
.copyright{
    display: flex;
    margin-top: 1.5rem;
}
/* Media Screens */
@media screen and (max-width: 980px) {
    .request_btn{
        display: none;
    }
    .mobile_nav {
        display: block;
        z-index: 999;
    }
    .primary_menu a {
        font-size: 24px;
        color: hsl(0, 0%, 100%);

    }
    .primary_menu a:hover,
    .primary_menu:active {
    color: hsl(0, 0%, 100%);
}
    .site_nav_menu {
        position: absolute;
        width: 100%;
        height: 70vh;
        top: 80px;
        left: 0PX;
       background: linear-gradient(-40deg, hsl(234, 13%, 41%) 0%, hsl(135, 33%, 37%) 130%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translateX(-100%);
        transition: all 0.5s linear; */
        opacity: 0;
        visibility: hidden;

    }
    .site_nav_menu.active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .primary_menu {
        flex-direction: column; 
        padding: 0; 
    }

    .primary_menu li {
        margin: 5px 0; 
        text-align: center; 
    }

    .primary_menu a {
        padding: 5px; 
    }
     .Description_Container{
        display: flex;
        flex-direction: column;
        flex: 1 2;
        margin: 5rem 2rem 2rem;
        gap: 2rem;
        align-items: center;
        
    }
    .sub_description{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
        padding: 2rem;
    } 
    .Container_2{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 2rem;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        background: hsl(233, 26%, 24%);
        height: 40rem;
    }
}
 
